<div class="gp-settings">
    <%= render template: "layouts/user_header" %>

    <div class="row">
        <div class="col-4 col-md-4 col-sm-12">
            <div class="profile-section" data-title="account">
                <span class="subtitle">account</span>
                <hr class="divider">
            </div>

            <p>Connected Facebook Account</p>
            <div class="Tab-Base">
                <div class="row">
                    <div class="col-10">
                        <small>
                            <%= image_tag(@user.profile_image, class: "Avatar") %>
                        </small>
                        <small>
                            <span class="gp-connected-name"><%= @user.name %></span>
                        </small>
                    </div>
                </div>
            </div>

            <button class="gp-button-logout">Logout</button>

            <button class="gp-button-base">Delete My Account</button>
        </div>

        <div class="col-8 col-md-8 col-sm-12">
            <div class="profile-section" data-title="donation-privacy-settings">
                <span class="subtitle">donation privacy settings</span>
                <hr class="divider">
            </div>

            <% @donations.each do |donation| %>
            <form class="row" id="privacy-form-<%= donation.id %>" action="/user/<%= @user.id %>/update_donation_privacy">
                <div class="col-6 col-md-6 col-sm-12">
                    <div class="gp-left">
                        <span class="Name"><%= donation.organization.name %></span>
                    </div>
                </div>

                <div class="form-group col-6 col-md-6 col-sm-12">
                    <div class="form-group col-6 col-md-6 col-sm-12">
                        <input name="donation" value="<%= donation.id %>" type="hidden" />
                    </div>

                    <select class="form-control" name="visibility" onchange="handleForm('privacy-form-<%= donation.id %>')">
                        <option value="true" <% if donation.public == true %>selected<% end %>>
                            Public - Visible to Everyone
                        </option>

                        <option value="false" <% if donation.public == false %>selected<% end %>>
                            Private - Visible to only Myself
                        </option>
                    </select>
                </div>
            </form>
            <% end %>
        </div>
    </div>
</div>

<script>
    function handleForm(formId) {
        let form = document.getElementById(formId);
        if (form) {
            form.submit();

        } else {
            console.log('Error occured while submitting form.');
        }
    }
</script>