<div class="user-profile container-fluid">
  <%= render partial: "partials/flash" %>
  <%= render template: "layouts/user_header" %>
  <div class="profile-body profile-sections container-fluid">
    <%= render "users/profile/badges" %>
    <%= render "users/profile/donations_by_causes" %>
    <%= render "users/profile/past_donations" %>
    <%= render "users/profile/philosophy" %>
    <%= render "users/profile/favorite_organizations" %>
  </div>
</div>
