<%= javascript_include_tag "users/profile" %>
<div class="user-profile container-fluid">
  <% if flash[:success] %>
    <div class="profile-flash__container">
      <%= render("shared/flash", type: "success", content: flash[:success]) %>
    </div>
  <% end %>
  <%= render template: "layouts/user_header" %>
  <div class="profile-body profile-sections container-fluid">
    <%= render "users/profile/badges" %>
    <%= render "users/profile/donations_by_causes" %>
    <%= render "users/profile/past_donations" %>
    <%= render "users/profile/philosophy" %>
    <%= render "users/profile/favorite_organizations" %>
  </div>
</div>
