<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render "partials/static_page_section", locals: { header_title: "We made Giving Profiles to help you help others." } do %>
        Giving Profiles is a simple way to collect all your charitable donations
        in a single place. Use it to keep track of your giving, share your
        favorite charities with friends, and discover great new organizations to
        support. We are a team of researchers from Harvard and Yale who
        specialize in motivating people to do more good. We're not venture
        capitalists, or serial-startup-ists, and we're not here to make a buck.
        We're here to put our research into practice, and see if we can help you
        make the biggest difference you can.
      <% end %>
      <div class="col-lg-5 divider"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 subtitle">Our Team</div>
    <div class="col-lg-9">
      <%= render "partials/static_page_section", locals: { header_title: "Erez Yoeli", column_classes: "mb-3" } do %>
        Research scientist at MIT Sloan. He applies insights from the social
        sciences to promote charitable giving, volunteering, resource
        conservation, medication adherence, etc.
      <% end %>

      <%= render "partials/static_page_section", locals: { header_title: "Dave Rand", column_classes: "mb-3" } do %>
          Associate professor at MIT, where he uses math models, behavioral
          experiments, and computer simulations to gain insight on cooperation.
      <% end %>

      <%= render "partials/static_page_section", locals: { header_title: "Moshe Hoffman", column_classes: "mb-3" } do %>
        Research scientist at MIT’s Media Lab, where he uses tools like game
        theory and behavioral experiments to uncover the hidden incentives that
        shape our sense of altruism and ethics.
      <% end %>

      <%= render "partials/static_page_section", locals: { header_title: "Martin Nowak", column_classes: "mb-3" } do %>
        Director of Harvard University’s Program for Evolutionary Dynamics and a
        recognized expert on the evolution of cooperation.
      <% end %>

      <div class="col-lg-4 divider"></div>

      <%= render "partials/secondary_team_member", locals: { name: "Duo Yang", role: "Web Designer" } do %>
        School of Information, University of Michigan. Specialty in User
        Experience Design & Research.
      <% end %>

      <%= render "partials/secondary_team_member", locals: { name: "Cool Cats Coding", role: "Web Development Club" } do %>
        We’re a diverse collective of coding professionals and those that will
        be soon. Special thanks to Gino, Enas, Brittney, Sam, Mark, Winnie,
        Ferhat, Rashad, Ricardo, Emily, and Paul.
      <% end %>

      <%= render "partials/secondary_team_member", locals: { name: "Pam Duke", role: "Project Manager" } do %>
        MIT undergraduate studying finance and economics.
      <% end %>

      <%= render "partials/secondary_team_member", locals: { name: "Lane Lipschultz", role: "Project Manager" } do %>
        MIT undergraduate studying finance and economics.
      <% end %>

      <%= render "partials/secondary_team_member", locals: { name: "Jeremiah DeGreeff", role: "Web Developer" } do %>
        MIT undergraduate studying Computer Science and Engineering.
      <% end %>

      <%= render "partials/secondary_team_member", locals: { name: "James Richardson", role: "Web Developer" } do %>
        MIT undergraduate studying Computer Science and Electrical Engineering.
      <% end %>
    </div>
  </div>
</div>
