<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render "partials/static_page_section", locals: { header_title: "GivingProfiles will never sell your data. Period." } do %>
        <p>
          We also won’t share your data with philanthropies or other
          organizations who might want to use it to fundraise. They’ll collect
          their own data for that.
        </p>
        <p>
          We use data to make GivingProfiles better, and to do research on how
          to encourage people to give more, and more thoughtfully. Although we
          will never share data that could identify you, sometimes, we share
          anonymized data with other researchers.
        </p>
      <% end %>
      <%= render "partials/static_page_section", locals: { header_title: "Want to know more? Read on." } %>
    </div>
  </div>

  <div class="col-lg-5 divider"></div>

  <div class="row">
    <div class="col-lg-3 subtitle">FAQ</div>
    <div class="col-lg-9">
      <%= render "partials/static_page_section", locals: { header_title: "What information do we collect?", column_classes: "mb-3" } do %>
        We collect information linked to your Facebook account when you register
        on our site, including your first and last names and email. We collect
        information about your donations when you enter them into the site. We
        also collect your income information, if you choose to provide it. We
        also collect some usage data, like time spent on a webpage, and the
        dates of your visits.
      <% end %>
      <%= render "partials/static_page_section", locals: { header_title: "How do we get this information?", column_classes: "mb-3" } do %>
        We only collect your information when you register for GivingProfiles,
        edit your profile, or enter a donation.
      <% end %>
      <%= render "partials/static_page_section", locals: { header_title: "Why do we request this information?", column_classes: "mb-3" } do %>
        Your donation information is collected to be shared on the
        GivingProfiles platform as well as inform our research efforts.
      <% end %>
      <%= render "partials/static_page_section", locals: { header_title: "How do we store your information?", column_classes: "mb-3" } do %>
        All your information is kept confidential and stored securely. If we
        share data with other researchers, we first make sure the data is
        anonymized.
      <% end %>
      <%= render "partials/static_page_section", locals: { header_title: "How will we update you with any changes?", column_classes: "mb-3" } do %>
        We may update our Privacy Policy from time to time. We will notify you
        of minor changes through posting the new Privacy Policy on this page.
        For major changes, we will notify you via email.
      <% end %>
      <%= render "partials/static_page_section", locals: { header_title: "What will GivingProfiles do with your data?", column_classes: "mb-3" } do %>
        <p>
          Data on your donations is incorporated into your profile. We never
          show the amount you donated, but we do show the date and organizations
          to which you donate. If you wish to make a particular donation
          private, or all donations to a particular organization, you can do so
          at any time.
        </p>
        <p>
          Data on your income is optional, and is never shown to others. It is
          used to determine eligibility for badges.
        </p>
        <p>
          You can update or correct your personal information at any time. You
          can also request to have their personal data deleted by emailing us at
          <%= link_to "givingprofiles@mit.edu", "mailto:givingprofiles@mit.edu?subject=Data%20Deletion%20Request" %>.
        </p>
      <% end %>
    </div>
  </div>

  <div class="col-lg-5 divider"></div>

  <div class="row">
    <div class="col-lg-12">
      <%= render "partials/static_page_section", locals: { header_title: "Questions? Concerns? Suggestions?", column_classes: "mb-3" } do %>
        If you have any questions or concerns about this data use policy or
        anything else, please email <%= link_to "givingprofiles@mit.edu", "mailto:givingprofiles@mit.edu?subject=GivingProfiles%20Feedback" %>
        or visit <%= link_to "our contact page", "/contact" %>
        and someone from our team will get back to you as soon as possible.
      <% end %>
      <p>
        — MIT GivingProfiles Team (6/8/20)
      </p>
    </div>
  </div>
</div>
