<% org = user_fav_org.organization %>
<div class="fav-org d-flex flex-row">
  <%= fa_icon "#{cause_logos[org.cause]} 2x", class: "fav-org__logo mr-3" %> <!-- placeholder for now -->
  <div class="flex-fill">
    <div class="d-flex justify-content-between">
      <div class="heading mb-2">
        <%= org.name %>
        <% if org.highly_effective %>
          <%= fa_icon "check-circle" %>
        <% end %>
      </div>
      <%= render "shared/cause_label", cause: org.cause %>
    </div>
    <div class="body-medium"><%= user_fav_org.description %></div>
  </div>
</div>
