<div class="donation-card d-flex flex-column justify-content-between p-3">
  <div class="d-flex align-items-start justify-content-between">
    <div class="d-flex flex-column w-100">
      <span class="body-medium">Donated to</span>
      <div class="d-flex align-items-center justify-content-between">
        <div class="donation-card__organization">
          <%= link_to past_donation.organization.name, past_donation.organization.fb_url, class: "body-medium-bold" %>
          <% if past_donation.organization.highly_effective %>
            <%= fa_icon "check-circle", class: "icon-medium" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <%= render "shared/cause_label", cause: past_donation.organization.cause %>
      <% if past_donation.user == current_user %>
        <%= fa_icon "ellipsis-v", class: "donation-card__toggle" %>
      <% end %>
    </div>
  </div>
  <div class="body-small-toned-down"><%= past_donation.created_at.strftime("%I:%M %p - %b %e, %Y") %></div>

  <% if past_donation.user == current_user %>
    <div class="donation-card__popup align-self-end d-none flex-column">
      <%= link_to "Change to private", "#" %> <!-- Placeholder -->
      <%= link_to "Edit", "#" %> <!-- Placeholder -->
      <%= link_to "Delete", "#" %> <!-- Placeholder -->
    </div>
  <% end %>
</div>
