<div class="donation-card d-flex flex-column justify-content-between p-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <div class="body-medium">Donated to</div>
          <%= link_to donation.organization.name, donation.organization.fb_url, class: "donation-card__organization body-medium-bold" %>
        </div>
        <% if donation.user == current_user %>
          <%= fa_icon "ellipsis-v", class: "donation-card__toggle" %>
        <% end %>
      </div>
      <div class="body-small-toned-down"><%= donation.created_at.strftime("%I:%M %p - %b %e, %Y") %></div>

      <% if donation.user == current_user %>
        <div class="donation-card__popup align-self-end d-none flex-column">
          <%= link_to "Change to private", "#" %> <!-- Placeholder -->
          <%= link_to "Edit", "#" %> <!-- Placeholder -->
          <%= link_to "Delete", "#" %> <!-- Placeholder -->
        </div>
      <% end %>
</div>
