<%= render "users/profile_sections/profile_section", title: "PAST DONATIONS"  do %>

  <div class="mini-user-profile-info">
    <%= image_tag(@user.profile_image, class: "rounded-circle avatar mini-user-profile-info__pic") %>
    <span class="mini-user-profile-info__name"><%= @user.name %></span>
  </div>

  <% if @user.donations.present? %>
    <div class="past-donations-search">
      <%= fa_icon "search", text: "Search my past donations" %> <!-- Placeholder for now. -->
    </div>

    <div class="past-donations-cards">
      <% @user.donations[0..2].compact.each do |donation| %> <!-- Currently just showing first 3 for now until we decide what to do. -->
        <%= render "users/profile_sections/past_donation", donation: donation %>
      <% end %>
    </div>

    <div class="scroll-to-see-more"> <!-- Placeholder for now. -->
      <%= fa_icon "arrow-down", class: "scroll-to-see-more__icon" %>
      <span class="scroll-to-see-more__text">Scroll down to see more</span>
    </div>
  <% end %>

<% end %>
