<div class="user-header d-flex container-fluid p-0">
  <div class="d-flex align-items-center w-100 no-gutters">
    <%= image_tag(@user.profile_image, class: "rounded-circle user-header__image") %>
    <div class="ml-3">
      <span class="body-xl-title"><%= @user.name %></span>
      <p class="body-toned-down mb-2"><%= @user.location %></p>
      <% if user_profile_page? %>
        <div class="user-header__social-networks">
          <% if @user.fb_url.present? %>
            <%= link_to fa_icon("facebook-square", type: :brand), @user.fb_url %>
          <% end %>
          <% if @user.email.present? %>
            <%= link_to fa_icon("envelope-square"), "mailto:#{@user.email}" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if user_page? %>
      <div class="align-self-start d-flex flex-column ml-auto">
        <ul class="user-header__nav nav flex-nowrap mb-2">
          <li class="ml-3">
            <%= link_to home_user_path(@user), class: "nav-link button-dark #{'active' unless user_profile_page?}" do %>
              <%= fa_icon "home" %>
              <span>Home</span>
            <% end %>
          </li>
          <li class="ml-3">
            <%= link_to @user, class: "nav-link button-dark #{'active' if user_profile_page?}" do %>
              <%= fa_icon "user-circle" %>
              <span>Profile</span>
            <% end %>
          </li>
          <li class="ml-3">
            <%= link_to '#', class: "nav-link button-dark" do %>
              <%= fa_icon "cog" %>
              <span>Settings</span>
            <% end %>
          </li>
        </ul>
        <% if user_profile_page? %>
          <%= link_to "Edit Profile", edit_user_path(@user), class: "user-header__edit button-dark ml-auto" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
